
@using ILG_Global.BussinessLogic.ViewModels
@using ILG_Global.BussinessLogic.Models
@using System.Collections.Generic
@model ContactUsSectionVM

@{
    Layout = null;
}

<section id="contactUs" class="home-section contact-us-section general-section">
    <div class="container">
        <div class="row title">
            <div class="col-12 col-sm-12 col-md-6">
                <h5 class="pb-4 pt-5">
                    @Html.Raw(Model.ContactUsSectionHeaderContent.Title)
                </h5>
                <h6>
                    @Html.Raw(Model.ContactUsSectionHeaderContent.SubTitle)
             
                </h6>
            </div>
        </div>
        <div class="row contact-list">
            <div class="col-12 col-sm-12 col-md-6">
                <ul class="col-12 col-sm-12 col-md-9 px-0">
                    @if (Model.ContactInformationDetails.Any())
                    {
                        foreach (ContactInformationDetail oContactInformationDetail in Model.ContactInformationDetails)
                        {
                            <li class="py-2">
                                <i  class="d-flex justify-content-center align-items-center @oContactInformationDetail.ContactInformationMaster.FontAwsomeIconCssClass hi123"></i>
                                <a href="@oContactInformationDetail.ContactInformationMaster.NavigationURL" class="px-4"> @oContactInformationDetail.Text</a>
                            </li>
                        }
                    }
                </ul>
            </div>
            <div class="col-12 col-sm-12 col-md-6">
                <iframe class="border-0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d217.27620049680084!2d47.9931967!3d29.3872904!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3fcf84852400ffeb%3A0x10ca28f807d59958!2zSW50ZWdyYXRlZCBMZWdhbCBHcm91cCB8INin2YTZhdis2YXZiNi52Kkg2KfZhNmC2KfZhtmI2YbZitipINin2YTZhdiq2YPYp9mF2YTYqQ!5e0!3m2!1sen!2seg!4v1639412121286!5m2!1sen!2seg"  allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>
</section>