@using ILG_Global.BussinessLogic.Models
@using ILG_Global.BussinessLogic.ViewModels

@model List<OurServiceVM>
@{
    Layout = null;


}

@functions {
    int nCurrentImageSpacing = 30;

    private void vIncreaseImageSpacing() {
        nCurrentImageSpacing += 20;
    }

    private void vResetImageSpacing()
    {
        nCurrentImageSpacing = 30;
    }
}



    <!-- OUR SERVICES section-->
<div id="ourServices" class="wrapper">
    <div style="z-index: 2;">
        <section id="ourService" class="home-section our-service-section general-section position-relative" dir="ltr">
            <div class="shield-bg py-5 col-2 col-sm-2 col-md-12">
                <img class="w-auto h-100" src="/Assets/images/OurServiceBackGround.svg">
            </div>
            <div id="our-service-slider" class="container owl-carousel owl-theme position-relative">

                @foreach (OurServiceVM oOurServiceVM in Model)
                {
                    vResetImageSpacing();

                    <div class="row contact-list justify-content-start align-items-center flex-column-reverse flex-sm-column-reverse flex-md-row">
                        @*<div class="col-12 col-sm-12 col-md-6 col-lg-7">
                            <div class="our-service-slider-image-col position-relative" style="min-height: 65vh">
                                <div class="our-service-bg-img our-service-slider-image" style="bottom: 30px">
                                    <img src="/Assets/images/Mask_gc@2x.png" class="w-100 h-100 ">
                                </div>

                                @foreach (ImageDetail oImageDetail in oOurServiceVM.ImageDetails)
                                {
                                    <div class="our-service-slider-image" style="left: @string.Concat(nCurrentImageSpacing,"px;")">
                                        <img src="/Assets/UserFiles/OurServices/@oImageDetail.ImageMaster.Name" alt="@oImageDetail.AlternateText" class="w-100 h-100 ">
                                    </div>

                                    vIncreaseImageSpacing();
                                }
                            </div>
                        </div>*@
                        
                        <div class="img-col-container p-0 position-relative">
                            <div class="img-container position-absolute back-img">
                                <img src="/Assets/images/Mask_gc@2x.png" class="w-100 h-100 ">
                            </div>
                             @foreach (ImageDetail oImageDetail in oOurServiceVM.ImageDetails){
                                 <div class="img-container position-absolute top-img">
                                     <img src="/Assets/UserFiles/OurServices/@oImageDetail.ImageMaster.Name" alt="@oImageDetail.AlternateText" class="w-100 h-100 ">
                                 </div>

                                 vIncreaseImageSpacing();
                             }
                          
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-5 d-flex justify-content-center  flex-column px-5">
                            <div class="row title">
                                <div class="col-12 col-sm-12 col-md-12">
                                    <h5 class="pb-4 pt-5" dir="@(System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.IsRightToLeft? "rtl" : "ltr")">@oOurServiceVM.Title</h5>
                                    <h6 dir="@(System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.IsRightToLeft? "rtl" : "ltr")">
                                        @oOurServiceVM.SubTitle
                                    </h6>
                                </div>
                            </div>
                            <div class="justify-text-center" dir="@(System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.IsRightToLeft? "rtl" : "ltr")">
                               @Html.Raw(oOurServiceVM.Summary)
                            </div>
                        </div>
                    </div>
                }
            </div>
        </section>
    </div>
</div>



<!--

<section class="container our-service-section general-section">
    <div id="our-service-slider" class="owl-carousel owl-theme">
        <div class="row contact-list justify-content-between align-items-center flex-column-reverse flex-sm-column-reverse flex-md-row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-7">
                <div class="our-service-slider-image-col">
                    <div class="our-service-slider-image" style="bottom: 30px">
                        <img src="assets/images/Mask_gc@2x.png" class="w-100 h-100 ">
                    </div>
                    <div class="our-service-slider-image" style="left: 30px;">
                        <img src="assets/images/Mask_gg@2x.png" class="w-100 h-100 ">
                    </div>
                    <div class="our-service-slider-image main-slider-image" style="left: 50px">
                        <img src="assets/images/Mask_bz@2x.png" class="w-100 h-100 ">
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-5 d-flex justify-content-center  flex-column">
                <div class="row title">
                    <div class="col-12 col-sm-12 col-md-12">
                        <h5 class="pb-4 pt-5">OUR SERVICES</h5>
                        <h6>
                            Learn More About <br/> Family Conflicts
                        </h6>
                    </div>
                </div>
                <p>
                    <span>O</span>ur team of best family lawyers in Kuwait will help you stay ahead during these times of emotional distress. With our expert team of family lawyers, you will be girded with different strategies that will be helpful in your cause. You can be ensured that you will be well guided through every step of the legal proceedings by our family lawyers with an object to alleviate anxiety and reduce stress.
                </p>
            </div>
        </div>
        <div class="row contact-list justify-content-between align-items-center flex-column-reverse flex-sm-column-reverse flex-md-row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-7">
                <div class="our-service-slider-image-col">
                    <div class="our-service-slider-image" style="bottom: 30px">
                        <img src="assets/images/Mask_gc@2x.png" class="w-100 h-100 ">
                    </div>
                    <div class="our-service-slider-image main-slider-image" style="left: 30px;">
                        <img src="assets/images/Mask_gg@2x.png" class="w-100 h-100 ">
                    </div>
                    <div class="our-service-slider-image" style="left: 50px">
                        <img src="assets/images/Mask_bz@2x.png" class="w-100 h-100 ">
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-5 d-flex justify-content-center  flex-column">
                <div class="row title">
                    <div class="col-12 col-sm-12 col-md-12">
                        <h5 class="pb-4 pt-5">OUR SERVICES</h5>
                        <h6>
                            Learn More About
                            <br/>
                            Family Conflicts
                        </h6>
                    </div>
                </div>
                <p>
                    <span>O</span>ur team of best family lawyers in Kuwait will help you stay ahead during
                    these times of emotional distress. With our expert team of family lawyers,
                    you will be girded with different strategies that will be helpful in your cause.
                    You can be ensured that you will be well guided through every step of the
                    legal proceedings by our family lawyers with an object to alleviate anxiety
                    and reduce stress.
                </p>
            </div>
        </div>
        <div class="row contact-list justify-content-between align-items-center flex-column-reverse flex-sm-column-reverse flex-md-row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-7">
                <div class="our-service-slider-image-col">
                    <div class="our-service-slider-image main-slider-image" style="bottom: 30px">
                        <img src="assets/images/Mask_gc@2x.png" class="w-100 h-100 ">
                    </div>
                    <div class="our-service-slider-image" style="left: 30px;">
                        <img src="assets/images/Mask_gg@2x.png" class="w-100 h-100 ">
                    </div>
                    <div class="our-service-slider-image" style="left: 50px">
                        <img src="assets/images/Mask_bz@2x.png" class="w-100 h-100 ">
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-5 d-flex justify-content-center  flex-column">
                <div class="row title">
                    <div class="col-12 col-sm-12 col-md-12">
                        <h5 class="pb-4 pt-5">OUR SERVICES</h5>
                        <h6>
                            Learn More About
                            <br />
                            Family Conflicts
                        </h6>
                    </div>
                </div>
                <p>
                    <span>O</span>ur team of best family lawyers in Kuwait will help you stay ahead during
                    these times of emotional distress. With our expert team of family lawyers,
                    you will be girded with different strategies that will be helpful in your cause.
                    You can be ensured that you will be well guided through every step of the
                    legal proceedings by our family lawyers with an object to alleviate anxiety
                    and reduce stress.
                </p>
            </div>
        </div>
    </div>
</section>

-->
