@using ILG_Global.BussinessLogic.ViewModels
@using ILG_Global.BussinessLogic.Models
@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Localization;
@using Microsoft.AspNetCore.Mvc.Localization;
@model SuccessStoriesVM
@inject IViewLocalizer Localizer

@{
    string PreferredLanguage = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.Name;
    Layout = null;
}
<!-- success story section-->
<section id="successStories" class="success-story-section general-section">
    <div class="container">
        <div class="row title">
            <div class="col-12 col-sm-12 col-md-6">
                <h5 class="pb-4 pt-5">@Model.SuccessStoriesSectionHeaderContent.Title</h5>
                <h6>
                    @Model.SuccessStoriesSectionHeaderContent.SubTitle
                </h6>
            </div>
        </div>
        <div class="row contact-list flex-column-reverse flex-sm-column-reverse flex-md-row">
            <div id="success-story-slider" class="owl-carousel owl-theme">

                @if (Model.SucessStoryDetails.Any())
                {
                    foreach (SucessStoryDetail oSucessStoryDetail in Model.SucessStoryDetails)
                    {
                        <div class="item position-relative">
                            <img src="@ILGTools.ToCDN_URL("Uploads/SuccessStories", oSucessStoryDetail.SucessStoryMaster.ImageURL)" class="w-100 h-100 position-absolute">
                            <div class="overlay w-100 h-100 position-absolute"></div>
                            <div data-successStoryItem="" class="slider-content text-white position-absolute p-4">
                                <h5 class="pb-2">@oSucessStoryDetail.Title</h5>
                                <button class="btn p-0 ilg-modal-open-button " data-bs-toggle="modal" data-bs-target="#@string.Concat("btn-show-modal-popup",oSucessStoryDetail.SucessStoryID)">
                                    <span>@Localizer["Learn More"]</span>
                                    <i class="fas fa-arrow-right"></i>
                                </button>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>


        <button type="button" class="p-0 m-0 shareViaMailModal-launch-btn" data-bs-toggle="modal" data-bs-target="#shareViaMailModal"></button>

        <div class="modal fade " id="shareViaMailModal" tabindex="-1" aria-labelledby="shareViaMailModal"
             aria-hidden="true">
            <div class="contact-list-modal modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close m-0" data-bs-dismiss="modal"
                                aria-label="Close">
                            <i class="far fa-times-circle"></i>
                        </button>
                    </div>
                    <div class="container p-0">
                        <h2>
                            @Localizer["Share Via Mail"]
                        </h2>
                        <input id="txtLastClickedSuccessStoryID" type="hidden" value="aa" />
                        <input id="txtCurrentLanguageCode" type="hidden" value="aa" />
                    </div>

                    <div class="modal-body container hide-native-scrollbar">
                       <form id="frmShareViaEmail" method="dialog" class="needs-validation" novalidate>
                           <div class="">
                               <label for="email" class="col-form-label">@Localizer["Email:"]</label>

                               @*<input type="email" class="form-control form-control-lg" id="txtSuccessStoryUserEmail" placeholder="Email"/>*@
                               <input type="text" asp-for="SuccessStoryUserEmail" class="form-control form-control-lg" placeholder="Email" pattern="[a-z0-9._%+-]+@@[a-z0-9.-]+\.[a-z]{2,4}$" required/>
                               <span asp-validation-for="SuccessStoryUserEmail" class="invalid-feedback feedback-pos validation-mesaage text-danger">Email is not valid</span>
                               <input type="hidden" asp-for="@Model.PreferredLanguage" value="@PreferredLanguage" />
                           </div>
                           
                        <ul class="row flex-column-reverse flex-sm-column-reverse flex-md-row  flex-wrap info py-4 justify-content-between align-items-center mx-auto container">

                            <li class="col-md-4 my-3 my-sm-3 my-md-0">
                                <button data-bs-dismiss="modal" class="close-btn border-0 bg-white w-100 py-3 text-black d-flex justify-content-center align-items-center mx-auto">
                                    <span class="px-3">@Localizer["Cancel"]</span>
                                </button>
                            </li>
                            <li class="col-md-4 my-3 my-sm-3 my-md-0">
                                <button id="btnSuccessStorySend" class="btn w-100 py-3 d-flex justify-content-center align-items-center mx-auto">
                                    <span class="px-3">@Localizer["Send"]</span>
                                </button>
                            </li>
                        </ul>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <button type="button" class="p-0 m-0 shareViaMailModalGreeting-launch-btn" data-bs-toggle="modal" data-bs-target="#shareViaMailModalGreeting"></button>

        <div class="modal fade " id="shareViaMailModalGreeting" tabindex="-1" aria-labelledby="shareViaMailModalGreeting"
             aria-hidden="true">
            <div class="contact-list-modal modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close m-0" data-bs-dismiss="modal"
                                aria-label="Close">
                            <i class="far fa-times-circle"></i>
                        </button>
                    </div>
                    <div class="container p-0">
                        <h2>
                            @Localizer["Message"]
                        </h2>
                    </div>

                    <div class="modal-body container hide-native-scrollbar">
              
                        <div id="dvApiResultMessage" class="">
                            Sample Message
                        </div>
                        <ul class="row flex-column-reverse flex-sm-column-reverse flex-md-row  flex-wrap info py-4 justify-content-between align-items-center mx-auto container">
                            <li class="shareViaMailModalGreeting-cancel-btn col-md-4 my-3 my-sm-3 my-md-0">
                                <button data-bs-dismiss="modal" class="close-btn border-0 bg-white w-100 py-3 text-black d-flex justify-content-center align-items-center mx-auto">
                                    <span class="px-3">@Localizer["Cancel"]</span>
                                </button>
                            </li>

                            <li class="col-md-4 my-3 my-sm-3 my-md-0">
                                <button id="btnUserMessage" class="btn w-100 py-3 d-flex justify-content-center align-items-center mx-auto">
                                    <span class="px-3">@Localizer["OK"]</span>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>




        @foreach (SucessStoryDetail oSucessStoryDetail in Model.SucessStoryDetails)
        {
            <div class="modal fade" id="@string.Concat("btn-show-modal-popup",oSucessStoryDetail.SucessStoryID)" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="contact-list-modal modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="btn-close m-0" data-bs-dismiss="modal"
                                    aria-label="Close">
                                <i class="far fa-times-circle"></i>
                            </button>
                        </div>
                        <div class="container p-0 mb-2">
                            <h2>@oSucessStoryDetail.Title</h2>
                        </div>

                        <div class="modal-body container hide-native-scrollbar">
                            <div class="success-storyDetail-Summary-container justify-text-center">
                                @Html.Raw(oSucessStoryDetail.Summary)
                                <span class="continue-with-share-via-mail-text">@Localizer["..... Continue With Share Via Mail"]</span>
                            </div>
                        </div>
                        <ul class="row flex-wrap info py-md-4 justify-content-between align-items-center mx-auto container">
                            <li class="col-md-3 my-3 my-sm-3 my-md-0">
                                <button class="btn w-100 px-2 py-3 d-flex justify-content-center align-items-center mx-auto">
                                    <i class="fas fa-phone"></i>
                                    <span class="px-3">@Localizer["Call Us"]</span>
                                </button>
                            </li>
                            <li class="col-md-5 my-3 my-sm-3 my-md-0 d-flex justify-content-center align-items-center">
                                @*<a href="#" class="w-100 p-3 d-flex justify-content-center align-items-center mx-auto">
                                    <i class="fas fa-address-book"></i>
                                    <span class="px-3">!Make an appointment</span>
                                </a>*@
                            </li>
                            <li class="col-md-4 my-3 my-sm-3 my-md-0 d-flex justify-content-center align-items-center">
                                <a data-share-via-email-a=""
                                   data-success-story-id="@oSucessStoryDetail.SucessStoryID"
                                   data-language-code="@oSucessStoryDetail.LanguageCode"
                                   id="share-via-mail" class="w-100 p-3 d-flex justify-content-center align-items-center mx-auto">
                                    <i class="fas fa-share-alt"></i>
                                    <span class="px-3">@Localizer["Share Via Mail"]</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        }
    </div>
</section>