
@using Microsoft.AspNetCore.Localization;
@using Microsoft.AspNetCore.Mvc.Localization;
@using ILG_Global.BussinessLogic.Models

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model object
@inject IViewLocalizer Localizer



<!DOCTYPE html>
<html dir="@(System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.IsRightToLeft ? "rtl" : "ltr")">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>@Localizer["ILG"] | @Localizer["Family Conflicts"]</title>
    <link rel="icon" type="image/png" href="/favicon.png" />
    <!-- js -->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/Assets/js/jquery.min.js"></script>

    <script src="~/Assets/js/popper.min.js"></script>
    <script src="~/Assets/js/bootstrap.min.js"></script>
    <script src="~/Assets/js/owl.carousel.min.js"></script>
    <link rel="icon" type="image/png" href="/Assets/images/FaveIcon.svg" />

    <!--font-->
    <link href="https://fonts.cdnfonts.com/css/gotham" rel="stylesheet">

    <!-- Font Awesome-->
    <link rel="stylesheet" href="~/Assets/fontawesome/css/all.css">

    <!-- Important Owl stylesheet -->
    <link rel="stylesheet" href="~/Assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Assets/css/owl.theme.default.min.css">

    <!-- style -->
    <link href="~/Assets/css/bootstrap.min.css" rel="stylesheet" />


    <link href="~/Assets/css/modal.css" rel="stylesheet" />

    <link href="~/Assets/css/site.en.css" rel="stylesheet" />

    @if (System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.IsRightToLeft)
    {
        <link href="~/Assets/css/site.ar.css" rel="stylesheet" />
        <script type="text/javascript" src="~/Assets/js/innerPage.js"></script>

    }
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/Assets/js/lottie-player.js"></script>

    <script type="text/javascript" src="~/Assets/js/innerPage.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Z55XX8243C"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-Z55XX8243C');
    </script>
</head>

<body id="app">
    <!--navbar-->
    <header class="sticky-nav w-100">
        @Html.Partial("_NavigationBar")
    </header>

    <main class="services">
        @RenderBody()
    </main>

    <div class="new-call-action d-flex flex-column justify-content-between align-content-center">
        <div class="whats-app-icon-container d-flex justify-content-center align-items-center mx-auto">
            <a target="_blank" href="http://wa.me/96590974747" class="img-container d-flex justify-content-center align-items-center mx-auto">
                <img src="/Assets/images/whatsup.svg" />
            </a>
        </div>
        <div class="phone-icon-container d-flex justify-content-center align-items-center mx-auto">
            <a target="_blank" href="tel:+96590974747" class="img-container d-flex justify-content-center align-items-center mx-auto">
                <img src="/Assets/images/phone.svg" />
            </a>
        </div>
        <div class="main-icon-container d-flex justify-content-center align-items-center mx-auto">
            <div class="img-container w-100 h-100 d-flex justify-content-center align-items-center mx-auto">
                <img src="/Assets/images/main icons.svg" />
            </div>
        </div>
    </div>

    @{
        NewsLetterSubscribe oNewsLetterSubscribe = (NewsLetterSubscribe)ViewData["NewsLetterSubscribe"];
    }

    @await Html.PartialAsync("_Footer", oNewsLetterSubscribe)
    <div id="sizer" class="sizer">
        <div class="d-block d-sm-none d-md-none d-lg-none d-xl-none" data-size="xs"></div>
        <div class="d-none d-sm-block d-md-none d-lg-none d-xl-none" data-size="sm"></div>
        <div class="d-none d-sm-none d-md-block d-lg-none d-xl-none" data-size="md"></div>
        <div class="d-none d-sm-none d-md-none d-lg-block d-xl-none" data-size="lg"></div>
        <div class="d-none d-sm-none d-md-none d-lg-none d-xl-block" data-size="xl"></div>
    </div>
</body>

</html>