@model IEnumerable<ILG_Global_Admin.BussinessLogic.ViewModels.SuccessStoriesVM>

@{
    ViewData["Title"] = "IndexInternal";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>IndexInternal</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Summary)
            </th>            
            <th>
                IsEnabled
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Summary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsEnabled)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.SuccessStoryId })
                @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
            </td>
        </tr>

}
    </tbody>
</table>
