@model IEnumerable<ILG_Global_Admin.BussinessLogic.ViewModels.SuccessStoriesVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@{
    string message = TempData["Message"] as string;
    if (!String.IsNullOrEmpty(message))
    {
        <div style="margin:20px" class="alert alert-success " role="alert">@message</div>
    }
}

<h1 style="padding:20px">Contact us </h1>



<button value="Create New" type="button" onclick="location.href = '@Url.Action("Create", "SuccessStory")'" class="btn btn-primary float-right">
    <span>Create New</span>
</button>
<br /><br />

<div class="card">

    <!-- /.card-header -->
    <div class="card-body p-0">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>

                    <th>
                        Status
                    </th>                    
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    if (item.IsEnabled == true)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>

                            <td>
                                <button type="button" data-toggle="tooltip" data-placement="top" title="Disable" onclick="location.href = '@Url.Action("ActivationToggle", "SuccessStory", new { id = item.SuccessStoryId })'" class="btn btn-tool" data-card-widget="card-refresh" data-source="/OurServices/Index" data-source-selector="#card-refresh-content" data-load-on-init="false">
                                    <span class="badge bg-success">Enabled</span>
                                </button>
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.SuccessStoryId }) |
                                @Html.ActionLink("Details", "Details", new { id = item.SuccessStoryId }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.SuccessStoryId })
                            </td>
                        </tr>

                    }
                    else
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>

                            <td>

                                <button type="button" data-toggle="tooltip" data-placement="top" title="Enable" onclick="location.href = '@Url.Action("ActivationToggle", "SuccessStory", new { id = item.SuccessStoryId })'" class="btn btn-tool" data-card-widget="card-refresh" data-source="/OurServices/Index" data-source-selector="#card-refresh-content" data-load-on-init="false">
                                    <span class="badge bg-danger">Disabled</span>
                                </button>
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.SuccessStoryId }) |
                                @Html.ActionLink("Details", "Details", new { id = item.SuccessStoryId }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.SuccessStoryId })
                            </td>
                        </tr>
                    }

                }
            </tbody>
        </table>
    </div>

</div>