@model ILG_Global_Admin.BussinessLogic.ViewModels.ContactUsSectionVM

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1 style="padding:20px">Contact us </h1>


<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="@Model.FontAwsomeIconCssClass" />
    <input type="hidden" asp-for="@Model.ContactUsMasterId" />
    <input type="hidden" asp-for="@Model.LanguageCode" />

    <div class="card">

        <div class="card-header">
            <h4 style="padding:20px" >Contact us Edit</h4>
        </div>
        <div class="card-body">
            <div class="row">

                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h1 class="card-title">English Details</h1>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label asp-for="@Model.Text" class="control-label"></label>
                                <input asp-for="@Model.Text" class="form-control" />
                                <span asp-validation-for="@Model.Text" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h1 class="card-title">Arabic Details</h1>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label asp-for="@Model.TextAr" class="control-label"></label>
                                <input asp-for="@Model.TextAr" class="form-control" />
                                <span asp-validation-for="@Model.TextAr" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="card-footer">
            <div class="form-group">
                <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                    <input asp-for="IsEnabled" type="checkbox" class="custom-control-input" id="customSwitch3">
                    <label class="custom-control-label" for="customSwitch3">Status</label>
                </div>
            </div>

            <div class="form-group">
                
                    <label asp-for="@Model.NavigationURL" class="control-label"></label>
                    <input asp-for="@Model.NavigationURL" class="form-control" />

            </div>
        </div>


    </div>
    <div class="form-group float-end">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>



<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


